[2021-08-27 02:26] lynndylanhurley opened #1 "Error executing lua [string ":lua"]:103: attempt to call global 't' (a nil value)"
When I try to configure cmp using your example in the readme I get the following error.

[code]

This is the config I'm using:

[code]

What does the `t` method refer to in this example?

[2021-08-27 02:32] #1 closed, assigned to nobody

[2021-08-27 08:59] ray-x opened #3 "Performance issue"
See comment here:
https://github.com/hrsh7th/nvim-cmp/issues/93

[2021-08-27 18:13] #3 closed, assigned to quangnguyen30192

[2021-08-28 17:52] JoseConseco opened #4 "Mapping for TAB people"
Tab will cycle forward through autocomplete item (unless we expanded snippet - then it will jump to snippet tag stops)
ctrl+space - will confirm placing selected item  or  expand selected snippet

[code]

I just thought I will put it in here for preferring 'tab'
btw. dont ask what check_back_space does. I just copied it form other examples.

[2021-08-28 21:14] quangnguyen30192 commented on #4
Hey, thanks. That's is a nice suggestion. I updated the README also improve a bit from your suggestion.

[2021-08-28 21:14] #4 closed

[2021-09-02 20:15] JoseConseco opened #5 "jump to next tabstop without filling current one"
I cant jump to next tabstop, unless I will fill the current one.  For example for this snippet:

[code]
If I  want to leave default value at $2,  I press < tab > but it wont jump forward  to $0 (only using ultiSnip build-in map < c-j >  work for jump) .  If I enter anything at $2, then I can < tab > jump forward no problem. It feels almost like I can jump only from insert mode  (and select mode ju

[2021-09-03 14:51] quangnguyen30192 commented on #5
Thanks for reporting,

snoremap <tab> "<C-R>=UltiSnips#JumpForwards()<CR>"
but then using tab on $2 will create double-quote character for no reason (not sure why)

it should be
[code]

I'm investigating why it doesn't work by the current mapping ...

[2021-09-03 15:12] quangnguyen30192 commented on #5
Seems as of now, 's' map does not work as it mentioned from [nvim-cmp](https://github.com/hrsh7th/nvim-cmp#mapping-type-tablestring-funfallback-function)
[code]
you can check like:
[code]
it has the mapping, but
[code]
it doesn't have any mapping.

For now, you can use as a workaround
[code]

I will raise this issue with nvim-cmp author

[2021-09-03 15:12] #5 closed

[2021-09-03 16:20] quangnguyen30192 commented on #5
Hey, thanks, that was a good finding. I will update README for this.

[2021-09-06 22:47] NilsIrl opened #6 "What does the snippet calling UltiSnips#Anon do"
What does the following snippet in the README do?

[code]

[2021-09-06 23:11] NilsIrl commented on #4
Why is feedkeys used instead of for example just `vim.fn["UltiSnips#JumpForwards"]()`?

[2021-09-07 05:21] quangnguyen30192 commented on #4
because UltiSnips#JumpForwards() is a function, not an expression key mapping. Just try you will get an error.

[2021-09-07 05:24] quangnguyen30192 commented on #6
you better ask this question for the author https://github.com/hrsh7th/nvim-cmp#basic-configuration

[2021-09-07 05:24] #6 closed

[2021-09-07 05:37] quangnguyen30192 commented on #6
reference https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt#L405

[2021-09-11 15:07] krillin666 opened #7 "How to install with Vim-Plug"
Thanks for the fix, any idea how one should proceed to install this with Vim Plug ?

[2021-09-12 09:59] quangnguyen30192 commented on #7
This plugin is just a source extension of https://github.com/hrsh7th/nvim-cmp, which is written in lua. Then using with packer is recommended.

You could use wbthomason/packer.nvim and Vim plug at the same time without any conflicts (I'm using packer.nvim and vim plug at the same time as well)

But, we can use vim vim plug as below
[code]

You will need to create a lua file under ~/.config/nvim/lu

[2021-09-12 10:12] quangnguyen30192 commented on #7
Or you could use lua heredoc right in vim file as the guy [here](https://www.reddit.com/r/neovim/comments/pmlt5c/need_help_with_auto_complete/?utm_source=share&utm_medium=ios_app&utm_name=iossmf) is doing

[2021-09-12 12:00] NilsIrl opened #8 "Mirrored tabstops don't work"
Once the completion menu appears when they're being filled, they just stop working.

I've tested by disabling nvim-cmp and using <C-p> and that works which means the issue is specific to nvim-cmp.

[2021-09-12 12:55] quangnguyen30192 commented on #8
Seems you didn't set up nvim cmp properly, check basic configuration. I guess you should set

vim.o.completeopt = "menuone,noselect"

[2021-09-12 12:59] NilsIrl commented on #8
Set that is correct I don't have noselect however that is intended. Regardless of that it works with noselect but then if I confirm a choice using <tab> it stops working.

[2021-09-12 13:11] quangnguyen30192 commented on #8
As this is specific for nvim-cmp, Could you raise this issue in nvim-cmp?

[2021-09-12 13:13] quangnguyen30192 commented on #8
What is your config for ultisnips?

[2021-09-12 16:09] krillin666 commented on #7
Thank you for the help !

[2021-09-12 16:09] #7 closed

[2021-09-15 04:08] quangnguyen30192 commented on #8
Closed as the reporter seems is not active anymore

[2021-09-15 06:47] #8 closed

[2021-09-23 12:19] Trid-collab opened #9 "ultisnips not working with the latest neovim nightly"
I have noticed that the Ultisnips options have stopped working with latest neovim nightly release. Have checked that it works with the rolled back stable release.

Is there something we need to do to fix in the new release

[2021-09-23 13:52] quangnguyen30192 commented on #9
Thanks, I will check

[2021-09-23 14:12] rebelot commented on #9
please see https://github.com/hrsh7th/nvim-cmp/issues/241#issuecomment-925831381

[2021-09-23 14:27] quangnguyen30192 commented on #9
Just installed neovim nightly and there are many plugins installed on my machine stop working

[2021-09-23 14:28] quangnguyen30192 commented on #9
Let's see if I could do something from cmp-nvim-ultisnips's side

[2021-09-23 14:36] quangnguyen30192 commented on #9
@captainko this is how the guys here https://github.com/hrsh7th/nvim-cmp/issues/241#issuecomment-925831381 fix it
[code]

[2021-09-23 14:51] captainko commented on #9
Oh thanks, It works like charms.

[2021-09-23 14:55] rebelot commented on #9
I think this is it.. https://github.com/neovim/neovim/pull/15632

[2021-09-23 14:56] quangnguyen30192 commented on #9
neovim nightly is not supposed to be stable. yeah surely it will be hiccup sometimes

[2021-09-23 15:44] Trid-collab commented on #9
@rebelot  thank you  use {'honza/vim-snippets', rtp = '.'} helped resolved the issue
However @quangnguyen30192   I also noticed that the I am not able to circulate the snippet placeholders using tabs like it was working before. Its not even working in the neovim stable release. When I am typing in the snippet placeholder the autocompletes are popping up while I am typing. On completion I am not ab

[2021-09-23 16:04] rebelot commented on #9
You’re welcome, maybe `opt=true` should also work and might be more elegant. My two cents on “supertab”: just use <c-j>/<c-k> and stop bothering rewriting your config every other day. After a few hours you think it’s working, then you notice macros don’t work anymore, you manage to fix it, then you update neovim or cmp and you have to start again. The amount of issues and config bloatware related

[2021-09-23 19:40] Trid-collab commented on #9
@rebelot I have tried putting opt=true but doesn't seem to be working - I have tried use {'honza/vim-snippets', rtp = '.', opt=true}
Am I correct in doing it . Pardon me if this is a trivial clarification. I am new to this.

[2021-09-24 06:25] quangnguyen30192 commented on #9
@Trid-collab probably you need to set

[code]
or

[code]

[2021-09-24 10:30] Trid-collab commented on #9
The done the same but still the place holder issue remains. I was also reverted back to the stable version

This is my plugin setup

use({
		"SirVer/ultisnips",
		requires = { "honza/vim-snippets" },
		config = function()
			vim.g.UltiSnipsRemoveSelectModeMappings = 0
		end,
	})

and my cmp mapping setup

	mapping = {
		["<C-p>"] = cmp.mapping.select_prev_item(),
		["<C-k>"] = cmp.mapping.select_p

[2021-09-25 10:25] Trid-collab commented on #9
@quangnguyen30192 I have reverted back to neovim stable. The Ultisnips are showing in the autocomplete now and am able to select.
But the supertab option is not working - in order to circulate between the placeholders. I have tried following the setup in your readme. Whenever I am trying to type something in the placement autocomplete is poping up which I believe hindering the circulation through

[2021-09-25 11:42] quangnguyen30192 commented on #9
Hey thanks, checking it now

[2021-09-25 12:17] Trid-collab commented on #9
found out the offending piece of code in cmp setup which was not allowing the tab to work
completion = { completeopt = "menu,menuone,noinsert" }, -- removing this has helped the supertab to work

But even then <S-Tab> is working weirdly Could you check- Basically when I am circulating back using the <S-Tab> its going to immediate earlier placeholder but then if we don't re type the placeholder and

[2021-09-25 12:31] quangnguyen30192 commented on #9
That's weird, this is the setting recommended by cmp author

Can you try with

[code]

[2021-09-25 14:00] Trid-collab commented on #9
Perfecto. It works. like C-K
Just one question whenever I doing a forward jump or backward jump  on the placeholder its printing :call UltiSnips#JumpForward or :call UltiSnips#JumpBackward

Its no harm but just curious
![image](https://user-images.githubusercontent.com/61322708/134774077-64765f2f-fb32-46f0-917a-d86c1599aa5d.png)

Also a question to you and @rebelot does using Utlisnip slow down la

[2021-09-25 14:13] quangnguyen30192 commented on #9
you had better ask ultisnips author. IMO Ultisnips is more way friendly, easy to learn, versatile and has rich support from overall languages. Probably comparing to the other snippet engines, it slows, but how much is it?

I have been using ultisnips for 3 years and had no problem with performance, If your laptop is not produced in 1970 then I would say just use it

[2021-09-25 15:14] quangnguyen30192 commented on #9
not sure if cmp mapping support `silent` mode

[2021-09-25 15:14] #9 closed

[2021-10-08 15:30] anstadnik opened #11 "Cannot jump forward"
Hi! I use an example from the README.md.
Everything works, except jumping to the next placeholder:
[code]
I've checked that this line is indeed being called. Also I've checked that if I do the same manually (press esc etc), I successfully jump to the next placeholder.
Also I've printed the value returned by
[code]

It shows me `^[:call UltiSnips#JumpForwards()^M`, as expected.

Instead when the li

[2021-10-09 10:54] quangnguyen30192 commented on #11
Hey anstanik, thanks for flagging, I just updated the example to fix it

[2021-10-09 12:44] medwatt opened #12 "Two questions?"
1. I am not seeing ultisnips snippets in the completion menu even though I added it to `sources`. Any idea why?

2. How do you prevent a message from being displayed every time ultisnip fires?

[2021-10-09 13:28] vsedov opened #13 "Conflicting issue with lsp_signature.nvim"
Issue with ray-x/lsp_signature.nvim and cmp-nvim-utilsnips - on lsp_signature.nvim when you set floating_window = true, the snippets does not forward with tab shown when you call
[code]

though im not completely sure what's causing this.

Working example without the float
https://vimeo.com/627416002

Not working, with the float :
https://vimeo.com/627417127

[2021-10-09 14:03] anstadnik opened #14 "Add support for VISUAL"
Ultisnips has a possibility to visually select some words, and then expand the snippet. The selected lines automatically appear in the ${VISUAL} placeholder.
[Documentation for this](https://github.com/SirVer/ultisnips/blob/53e1921e3ef015ef658e540c0aa9c4835f9c18a6/doc/UltiSnips.txt#L774)
Is it possible to implement that in this plugin?

[2021-10-11 05:34] anstadnik opened #15 "Add support for LSP snippets"
Some LSPs can create snippets for functions, methods etc.
One of such LSP is ccls. For example, when I enter the following cpp code:
[code]
, and I put the cursor at the end of the first line in the `main` function, the LSP would suggest me a snippet for function `int_and_char`, but it is not being expanded.

[2021-10-11 05:39] anstadnik commented on #15
I've seen #13, and tried to remove ray-x/lsp_signature.nvim. Didn't help

[2021-10-11 05:45] anstadnik commented on #13
I've just checked, and for me everything works. I use ray-x/lsp_signature.nvim, and with both `floating_window = true` and `floating_window = false` I can jump back and forth inside the snippet. Could you provide a minimal `init.nvim`?

[2021-10-11 05:50] medwatt commented on #12
[Have a look here](https://i.imgur.com/ZufeBzK.png)!

[2021-10-11 13:05] smjonas opened #16 "Could UltiSnips functions be called silently?"
Hey, everything works great except the only thing I noticed is that `:call UltiSnips#JumpForwards()` is output in the command line every time I press `Tab` to go to the next tabstop. Same for other function calls. Could this be made silent?

I tried several things in the mapping like adding `<silent>` etc. but couldn't get it to work.

[2021-10-30 05:18] anstadnik commented on #14
Since hrsh7th/nvim-cmp#438 this is possible:
[code]

[2021-10-30 05:18] #14 closed

[2021-10-30 05:20] anstadnik commented on #15
Eventually I've created my mappings based on [this](https://github.com/hrsh7th/nvim-cmp/wiki/Example-mappings), and now everything works like a charm

[2021-10-30 05:20] #15 closed

[2021-10-30 05:21] anstadnik commented on #11
:shrug:
Thanks for the fix anyway!

[2021-10-30 05:21] #11 closed

[2021-11-03 02:12] ColinKennedy opened #18 "Taking into account the user's current text, for auto completion"
Over at nvim-cmp, I filed an issue while trying snippet autocompletion out - https://github.com/hrsh7th/nvim-cmp/issues/451

The issue is that auto-completion results showed all snippets, regardless of what was currently typed. I made a fork which implements that check, over here: https://github.com/ColinKennedy/cmp-nvim-ultisnips/tree/add_snippet_recognition

I haven't done performance metrics to

[2021-11-25 00:13] camgraff opened #22 "Can't add new snippets without reloading plugin due to caching"
Since the [snippets cache](https://github.com/quangnguyen30192/cmp-nvim-ultisnips/blob/main/lua/cmp_nvim_ultisnips/snippets.lua#L3) is never invalidated, it is not possible to add new snippets using `:UltiSnipsEdit` without reloading this plugin, as the new snippets are not picked up when completion is invoked.

IMO, there should be no need for caching. I read [this issue](https://github.com/quang

[2021-11-25 04:03] quangnguyen30192 commented on #22
Hey, thank you for your opinion. This was my thought as well when I was implementing the caching.
Surely if the snippets are just hundreds, there's no need to cache at all

But It would not quite efficient when it's loading a thousand snippets without caching (people could use many snippets sources as they wish to use: e.g honza/vim-snippets).

I will check and could add the option to configure th

[2021-11-25 04:12] quangnguyen30192 commented on #18
Hey @ColinKennedy, thanks for the PR, the issue is interesting. It would be awesome if you could raise a PR in my repo?

[2021-11-25 04:12] quangnguyen30192 commented on #18
@ColinKennedy: Sorry for the slow response

[2021-11-25 04:14] quangnguyen30192 commented on #16
Thanks @smjonas I also tried several approaches but couldn't make it work as well. I will investigate more.

[2021-11-25 04:15] quangnguyen30192 commented on #13
@vsedov  sorry for the late response, does the plugin work for you now?

[2021-11-25 04:19] quangnguyen30192 commented on #12
Hi @medwatt
Regarding 1., probably it's from your configuration. Does it work for you now? or could you provide me a minimal init.vim that I can help to investigate.

Regarding 2. Yes we're having this issue, I'm trying to make it silently https://github.com/quangnguyen30192/cmp-nvim-ultisnips/issues/16

[2021-11-25 08:57] smjonas commented on #22
Hey, I have thought about implementing this as well because it is quite annoying being
forced to restart Neovim to get new snippets to show up. We could create a command that clears
all caches (essentially the `snippet_info_for_file` and `snippet_info_for_ft` tables).

Then `load_snippet_info()` should parse all files and snippets again.

@quangnguyen30192 let me know in case you have started impl

[2021-11-25 09:20] smjonas commented on #18
@ColinKennedy I have recently implemented a parser for snippet headers that allows us to
retrieve more info about snippets than just the tab trigger and file path.

I think we should combine these approaches such that only the available snippets are shown. We could also make this configurable by users so they can decide whether only those snippets marked available by UltiSnips are provided or also

[2021-11-25 13:16] hiberabyss opened #23 "Error occured when add ultisnip source into nvim-cmp"
Following error will occur when edit cpp file with snip completion:

![image](https://user-images.githubusercontent.com/2898670/143447959-260e771e-f20b-4b3a-945f-36016ccd12ed.png)

neovim version: NVIM v0.6.0-dev+627-gb5b025f6a

[2021-11-25 13:51] vsedov commented on #13
Nah all good, I should have closed this issue, sorry about that. Everything is working now : ) .

[2021-11-25 16:03] smjonas commented on #23
Hey, sorry about that. Can you share your snippet definitions for .cpp files?

[2021-11-25 16:17] PetitBandit commented on #23
<img width="1792" alt="CleanShot 2021-11-25 at 17 14 53@2x" src="https://user-images.githubusercontent.com/32488040/143474737-68b6dccd-610f-4c4e-9af6-a05ce2ed25bc.png">

hey having this issue since i Upgraded this morning .
I m unsure that this is the same issue.

[2021-11-25 16:19] PetitBandit commented on #23
![CleanShot 2021-11-25 at 17 17 26@2x](https://user-images.githubusercontent.com/32488040/143474993-2dea2969-cba8-4bee-b208-ac3aa6b36ef1.png)

I have a similar issue since i upgraded plugins this morning. weirdly, some snippet still work, but most of them arent.
I dont have enough knowledge to figure out if it s the same issue or not.

[2021-11-25 16:34] hiberabyss commented on #23
Seems there will be problem when `honza/vim-snippets.git` installed

[2021-11-25 16:36] hiberabyss commented on #23
Have another test with any custom snippets for cpp, there will be the error even `honza/vim-snippets.git` not installed.

[2021-11-25 17:07] smjonas commented on #23
@hiberabyss thanks for the info, I will try to reproduce it and push a fix later

@PetitBandit it probably is the same issue, I recently wrote a parser for snippet headers (with insufficient tests as it seems)

[2021-11-25 20:27] smjonas commented on #23
@PetitBandit Unfortunately, I am not able to reproduce the issue using the typescriptreact snippets from your dotfiles repo (please ignore the duplicates).

![cmpu_issue23](https://user-images.githubusercontent.com/40792180/143497105-5d7a6155-d1de-443e-854f-b44542be890a.png)

I assume this was the file you were using for your snippets? Or are you using any
additional snippet files? To find out why

[2021-11-25 20:38] smjonas commented on #23
@hiberabyss I could not reproduce this with a custom snippet definition in a `cpp.snippets` file. Could you share an example snippet that caused the issues for you?

[2021-11-25 21:28] smjonas commented on #23
I was finally able to reproduce using the `c.snippets` file from honza/vim-snippets :)

[2021-11-26 04:07] #23 closed

[2021-11-26 04:16] quangnguyen30192 commented on #23
@hiberabyss the issue was fixed could you please update the plugin and try again?

[2021-11-26 04:53] hiberabyss commented on #23
This error was fixed. Thanks!

However, seems some snippets like  `once` in `honza/vim-snippets` could not be completed.

[2021-11-26 04:56] quangnguyen30192 commented on #23
Thanks, we'll test thoroughly for the others and improve the implementation.

[2021-11-26 08:28] PetitBandit commented on #23
Hey, I updated again the plugin, but the error continues.
i can reproduce the issue with the snippet:

[code]

[2021-11-26 09:31] rebelot opened #25 "Stopped working after 88d473a"
as per title, the new parser removed ultisnip completion items from cmp list after 88d473a7385c15b64e9e3fbdeefdd7494d5bc825

neovim version v0.6.0-dev+631-g72d62aa6a

[2021-11-26 09:38] smjonas commented on #25
Hey, could you confirm if this is still the case with the latest version? Also, I will create a PR in a few minutes that should resolve some issues with snippets not showing up.

[2021-11-26 09:41] rebelot commented on #25
Yes, stopped working right after rebuilding latest neovim and updating plugins

[2021-11-26 09:48] smjonas commented on #23
@PetitBandit should be fixed in the latest PR (#26). Sorry for all the breaking changes that should not have been breaking ^^

[2021-11-26 09:50] smjonas commented on #25
Sorry about that, I should have tested the new parser better. This should be fixed once #26 has been merged.

[2021-11-26 09:54] smjonas commented on #25
@quangnguyen30192 thank you for the fast merging, @rebelot could you pull the latest update and test again?

[2021-11-26 10:54] PetitBandit commented on #23
The error was fixed, thank you so much for this quickfix, much appreciated !

[2021-11-26 17:14] rebelot commented on #25
Still not working for me, but thanks for your super quick response!

[2021-11-29 09:04] #22 closed

[2021-11-29 09:06] quangnguyen30192 commented on #22
@camgraff  the cache now is auto invalidate whenever the snippet files are edited

[2021-11-29 10:19] rebelot commented on #25
any update? I'll share my minimal config
[code]

[2021-11-29 10:33] smjonas commented on #25
Hey, I would really like to solve your issue. However, I just tested with your config and it works for me.

This is how it looks like when using your config with `vim-snippets` in a Java file and hitting `<C-space>`:
![#25](https://user-images.githubusercontent.com/40792180/143851521-c8635b84-5e4e-4a94-a694-53404dce1332.png)

Can you tell me the output of the following command?
[code]

[2021-11-29 12:30] rebelot commented on #25
this is the output of the command for a lua file (trying to complete date global snippet)

<img width="834" alt="Screenshot 2021-11-29 at 13 29 12" src="https://user-images.githubusercontent.com/36300441/143868272-81641edf-67f1-4ba9-9bee-c66055075979.png">

[code]

[2021-11-29 12:44] smjonas commented on #25
Oh I think I know what's the issue. I was convinced that UltiSnips only supports snippets of the form `snippet ... ensnippet` as one would guess when reading the helpdocs. As can be seen here https://github.com/SirVer/ultisnips/blob/2c83e40ce66814bf813457bb58ea96184ab9bb81/doc/UltiSnips.txt#L1768, apparently UltiSnips also supports snippets using vsnip syntax. I will update the parser for this, th

[2021-11-29 12:57] rebelot commented on #25
thank you! but this raises another issue (for me...) why snippets are searched only in `vim-snippets/snippets` folder and not also in `vim-snippets/UltiSnips`?

[2021-11-29 13:33] smjonas commented on #25
That's actually a really good question, the issues with the rtp just happened to me also. Packer actually has some problems with setting rtp, I will test your solution and probably update the readme once it works.

[2021-11-29 13:34] smjonas commented on #25
@quangnguyen30192 I think we should not support `vim-snipmate`-like snippets at the moment. That would be quite a lot of work and involve a few edge cases. But we should update the readme again for `honza/vim-snippets` users.

[2021-11-29 13:44] rebelot commented on #25
I second this... I find snipmate snippets very useful (like licenses, date, author/program info)

[2021-11-29 13:51] smjonas commented on #25
While thinking about it, snipmate snippets only have a tab_trigger and description anyway (at least on the main branch). So there is no need to change the parser, we can simply use the info provided by UltiSnips.

[2021-11-29 14:32] rebelot commented on #25
Not all of them are shown on latest (i.e. box (this one is super useful imo), bbox, docs, MIT, ...). I'm reverting and locking for now. Thanks for the support, hope you'll find a way to implement that!

[2021-11-29 17:37] smjonas commented on #25
@rebelot I have updated the `snippets.lua` file and it seems to working now for vsnip snippets :) Will create a PR later and hopefully the issue will be resolved then.

[2021-11-30 06:10] quangnguyen30192 commented on #25
Thanks @smjonas for your effort

[2021-12-02 05:23] #25 closed

[2021-12-02 07:00] pianohacker opened #31 "Error when snippet includes ]"
The default ultisnips for Rust have a snippet `attr` that contains a `]`.

This breaks the string escaping in https://github.com/quangnguyen30192/cmp-nvim-ultisnips/blob/main/autoload/cmp_nvim_ultisnips.vim#L29 with the following error:

[code]

[2021-12-02 07:06] quangnguyen30192 commented on #31
Thanks for reporting, @smjonas  could you have a look?

[2021-12-02 07:14] pianohacker commented on #31
I have a PR that fixes my immediate problem. Not sure how it affects snippets in general.

[2021-12-02 08:22] smjonas commented on #31
Thank you @pianohacker for reporting. I didn't know pyxeval existed so I kind of used a hacky way to escape the snippets. Please create a PR :)

[2021-12-02 08:25] quangnguyen30192 commented on #31
@pianohacker  just created a PR already

[2021-12-02 08:28] smjonas commented on #31
Oh I just saw it, it looks good!

[2021-12-02 09:03] #31 closed

[2021-12-02 11:09] smjonas commented on #25
@rebelot could you check if the new updates resolve your issue? We completely got rid of the custom parser now :D

[2021-12-03 10:58] #18 closed

[2021-12-03 15:55] rebelot commented on #25
Everything seems to works nicely! Thank you very much!  👍

[2021-12-04 17:34] ZachariahPang opened #35 "Module not found"
Hi, I was trying to install via vim-plug and when I do `require("cmp-nvim-ultisnips").setup()`, I got an error of Module not found.

Minimal `init.vim` to reproduce
[code]

Launch with the above `init.vim` and do `:PlugInstall` and both are correctly installed but I got this error
`E5108: Error executing lua [string ":lua"]:2: module 'cmp-nvim-ultisnips' not found:`.

Sorry, I'm new to lua, maybe

[2021-12-04 18:02] quangnguyen30192 commented on #35
Hey @ZachariahPang , we recommend using the plugin with packer. You can use vim-plug and packer at the same time. You can check here https://github.com/quangnguyen30192/cmp-nvim-ultisnips/issues/7

[2021-12-04 18:04] smjonas commented on #35
Hey @ZachariahPang, I think this is a problem in the readme. It should be
`require('cmp_nvim_ultisnips')` instead. I will fix this now.

[2021-12-04 18:10] quangnguyen30192 commented on #35
Ah, you're right 👍

[2021-12-04 18:20] ZachariahPang commented on #35
Thanks. This solves the importing issue.

In case this is related, the auto-completion list is still showing all snips even when they are not expandable. I tried both with
`require("cmp_nvim_ultisnips").setup{}` and `require("cmp_nvim_ultisnips").setup{show_snippets="expandable"}` and both shows non-expandable snips.

[2021-12-04 18:23] ZachariahPang commented on #35
I did something wrong with my snips, it works as expected. Thanks. I'll close this issue.

[2021-12-04 18:23] #35 closed

[2021-12-04 18:26] quangnguyen30192 commented on #35
Thank you

[2021-12-04 18:26] #16 closed

[2021-12-04 23:25] Astrantia opened #39 "Jumping not always working correctly"
With the following typescript snippet:
[code]
I am unable to jump out from `console.log('', asdasd|)` the cursor position where cursor is |. Instead it keeps using tab to add more spaces, and never get me in the quotes. Can you test if it is the same issue for you?

[2021-12-05 01:49] Carlosted opened #40 "Expand Snippet function verbose when I press <Tab>"
Hi, I've seen that a few hours ago a fix was supposed to make ultisnip functions silent when pressing tab but I still see `=UltiSnips#ExpandSnippet()` when I use tab in insert mode to add space.

[2021-12-05 09:42] smjonas commented on #39
Thanks for the report. Could you check with the updated recommended mappings that were just merged? We will also soon make this easier for users so you don't have to update your config all the time.

[2021-12-05 18:31] Astrantia commented on #39
Unfortunately it still doesn't work. Did you try  using that snippet?

[2021-12-05 18:35] smjonas commented on #39
Yes I tried with that snippet and it worked for me. I am currently working on a PR that improves the mappings but don't know if I have time to finish it today. That should hopefully resolve your issues. I'll let you know once it's done!

[2021-12-06 08:47] smjonas commented on #39
Working on it here: #42

[2021-12-06 08:48] smjonas commented on #40
Hey, I am working on this here: #42

[2021-12-06 14:39] #39 closed

[2021-12-06 14:39] #40 closed

[2021-12-06 14:46] quangnguyen30192 commented on #12
2. was solved by smjonas.

[2021-12-06 14:48] smjonas commented on #40
Could you update your config with the recommended mappings in the readme? I have created a
separate module for this so users won't have to update their config manually.

[2021-12-06 14:49] smjonas commented on #39
Could you update your config with the recommended mappings in the readme? I have created a separate module for this so users won't have to update their config manually.

[2021-12-06 16:39] Astrantia opened #44 "lsp tsserver breaking functionality"
I've observed interesting thing happening here. Whenever tsserver is enabled, the snippet i have posted in my another issue breaks:
[code]
If I disable tsserver with `:LspStop tsserver` then it works correctly.

Not only this, but if tsserver is enabled, `<Tab>` is verbose again and writes `=UltiSnips#ExpandSnippetOrJump()` to the command line. What could be happening here?

I have updated to the

[2021-12-06 17:34] smjonas commented on #44
Ok this is weird. Did I get this correct: it does not happen when you have disabled cmp-nvim-ultisnips and only enabled UltiSnips? Or does it also happen then? Because in that case it is probably an UltiSnips issue.

[2021-12-06 17:39] Astrantia commented on #44
I didn't think to do that, but correct, it also happens when i disable cmp-nvim-ultisnips, so it is an UltiSnips issue. Should I close this issue and open one in UltiSnips? But they don't care much about neovim over there from what I remember

[2021-12-06 17:45] Astrantia commented on #44
It's also strange because this doesn't happen with other language servers, so there's something specific with tsserver that does it. I haven't configured tsserver with extra configs.

[2021-12-06 17:56] smjonas commented on #44
Yeah that's true. I will try to reproduce this first to be sure it also occurs for me.

[2021-12-06 20:12] smjonas commented on #44
I can reproduce this by typing `'${|}'` in a .ts file (where `|` is the cursor) and hitting <kbd>Tab</kbd>. However, uninstalling tsserver does not help but removing cmp-nvim-ultisnips does. So it is indeed a bug in the new cmp-nvim-ultisnips keybindings.

[2021-12-06 20:44] smjonas commented on #44
This might be a nvim-cmp issue as I tested it with a minimal config. I will continue later.
We should confirm this, then create a bug report on the cmp repo.

[2021-12-06 20:57] Astrantia commented on #44
And from your experience it is not tied to enabling/disabling tsserver? Fixing what you found might fix the one I'm facing as well.

[2021-12-06 23:01] smjonas commented on #44
Yes, I uninstalled tsserver and it still occurred. I now reported it on the cmp repo.

[2021-12-07 02:47] mathjiajia opened #45 "add a new mapping function?"
Hi, thanks for this fantastic plugin.

Since I do not want to integrate too many functions in the `Tab` key.
Actually , I use the default jump key of `UltiSnips`, which is `C+J`.
Could you add a new function `expand(fallback)`.

Something like below:
[code]

Thanks

[2021-12-07 05:49] quangnguyen30192 commented on #12
Closed, if issue 1 still persists, just raise it again

[2021-12-07 05:49] #12 closed

[2021-12-07 08:46] quangnguyen30192 commented on #45
I feel good 👍  let's do it

[2021-12-07 09:10] mathjiajia commented on #45
Thank you.

[2021-12-07 09:12] smjonas commented on #44
Seems like hrsh7th could not reproduce it... Are you on Linux by any chance?

[2021-12-07 14:00] ranebrown opened #46 "Mapping causes error on system paste"
Using the recommended tab mappings causes the below error if you open a file, enter insert mode, and paste text from the system clipboard (cmd v on mac). This does not occur if the tab mappings are not present in the cmp config. The error also doesn't occur if before pasting you type text that causes the cmp completion window to appear and then paste after it has appeared once.

[code]

[code]

[2021-12-07 16:41] #46 closed

[2021-12-07 16:43] smjonas commented on #46
Since I can't reproduce it anymore after this fix, the issue seems to be solved. Could you confirm this?

[2021-12-07 16:59] ranebrown commented on #46
Seems to have fixed it. Thanks!

[2021-12-07 17:20] smjonas commented on #46
Awesome, thank you!

[2021-12-08 01:01] Astrantia commented on #44
I have bunch of plugins installed, so I'll try to narrow down what plugin or setting is interfering here, but it's definitely has to do with tsserver, because enabling/disabling it makes my problem go away and come back

[2021-12-09 02:14] medwatt opened #49 "Disabling autotrigger causes error"
I have the `autotrigger` option of ultisnips disabled for performance reasons. More on this issue can be found [here](https://github.com/SirVer/ultisnips/issues/1202#issuecomment-611351193).

[code]

Using the above code with this plugin produces an error every time a key is pressed.

[2021-12-09 09:01] smjonas commented on #49
Could you share some additional info on how to reproduce this issue? Where did you put that code? What is the exact error message? Which snippet definitions are you using? I added this to my `.vimrc` (and I can confirm `A` snippets are not triggered automatically anymore) but I can't reproduce this issue.

[2021-12-09 10:11] smjonas commented on #9
@quangnguyen30192  Is this workaround still needed since https://github.com/neovim/neovim/pull/15632 has been merged a while ago? I haven't noticed any problems with vim-snippets while not setting the rtp manually. Can we remove that section from the readme?

[2021-12-09 10:19] quangnguyen30192 commented on #9
Sure, since the root cause was fixed, we don't need that in the readme

[2021-12-09 18:40] medwatt commented on #49
I am using Neovim version 0.6. The code I provided in the first post is inside the config file I have for ultisnips.

Here's my `cmp` config:

[code]

I am using the default configuration for ultisnips. With the autotrigger disabled, when I am insert mode and press any character, I get the following ![error](https://i.imgur.com/eWiJ6rp.png).

[2021-12-09 19:21] smjonas commented on #49
Thank you. Possibly a duplicate of #46? Are you using the latest version of this plugin? Also, we have now added recommended mapping functions you can call - see readme (they do the same as your code).

[2021-12-09 19:35] medwatt commented on #49
I just updated and tried the recommended settings. I'm still getting the same error.

[2021-12-09 19:48] smjonas commented on #49
Ok this is weird. Just to be 100% sure: everything works correctly when autotrigger is enabled? I will look into it.

[2021-12-09 20:16] medwatt commented on #49
Have a look at the video to see exactly what is going on. While experimenting, I noticed that if I press the tab key by itself while in insert mode, the problem does not occur

https://user-images.githubusercontent.com/17733465/145469155-73941eaa-5a9e-4014-9452-2885fb20784e.mp4

.

[2021-12-10 10:37] smjonas commented on #45
Once #48 is merged (soon), you can achieve your desired behaviour like this:
[code]

[2021-12-10 10:58] mathjiajia commented on #45
Thank you so much.
That looks great!

[2021-12-10 11:14] #45 closed

[2021-12-10 15:44] smjonas commented on #49
Could you try this PR? #51
I suspect it is some kind of loading order problem, seems like UltiSnips is not available yet when cmp_nvim_ultisnips is ready.
So I tried to source the UltiSnips file as cmp_nvim_ultisnips starts.

[2021-12-10 16:59] medwatt commented on #49
I haven't tested it extensively, but the issue I reported is now gone.

[2021-12-10 16:59] #49 closed

[2021-12-10 17:19] smjonas commented on #49
Wow I'm a bit surprised that it worked, thanks for testing!

[2021-12-15 10:23] mathjiajia opened #53 "broken UltiSnips"
After this new PR #50, my UltiSnips is broken for `tex` file: UltiSnips cannot be triggered.

Before:
<img width="1255" alt="Screenshot 2021-12-15 at 6 19 33 PM" src="https://user-images.githubusercontent.com/35106942/146168522-68c9e576-ad8f-48c0-b035-71b1f8139fc6.png">

After:
<img width="379" alt="Screenshot 2021-12-15 at 6 18 33 PM" src="https://user-images.githubusercontent.com/35106942/146168

[2021-12-15 10:27] smjonas commented on #53
Oh man, this is not good, sorry for that :/ By the way, do you `nvim_treesitter` installed? I just created a fix that improves things when that plugin is not installed.

[2021-12-15 10:31] mathjiajia commented on #53
Thanks.
I have installed `nvim-treesitter`.

As a workaround, I used the last commit of `cmp-nvim-ultisnips`.
So, still works.

[2021-12-15 10:40] smjonas commented on #53
I could reproduce it and know what the problem is: UltiSnips uses `tex`, treesitter returns `latex`...
Working on a fix.

[2021-12-15 11:17] #53 closed

[2021-12-15 11:50] smjonas commented on #53
Hope everything is working again now :)

[2021-12-15 13:09] mathjiajia commented on #53
You are so fast 👍.

Thank you. It was fixed now and worked great with PR #50.

[2021-12-15 13:27] smjonas commented on #53
Awesome, I am glad everything is working as expected now!😄

[2021-12-16 17:38] smjonas commented on #44
I found the cause for this issue. It is caused by [vim-snippets](https://github.com/honza/vim-snippets), specifically by this javascript snippet ([link](https://github.com/honza/vim-snippets/blob/43ed873ba09ac2d71992e773c68c75c6b85686c7/snippets/javascript/javascript.snippets#L354)):
[code]
(`typescript` snippets extend from `javascript` snippets)

Honestly, I think this snippet should be removed

[2021-12-16 17:38] #44 closed

[2021-12-16 21:38] PetitBandit opened #56 "Having issues with nested tabstop"
[code]
Previously to the switch to cmp, i had this mapping that allowed to either replace completely $1 by typing or filling $2 by tabbing when on $1, this doesnt work anymore as I can t seem to tab to the next.
Can someone helps please as this was very useful for me.
Thanks !

[2021-12-16 23:15] #56 closed

[2021-12-16 23:20] smjonas commented on #56
Thanks for reporting, this issue with select-mode mappings was bugging me for a while and I am glad you brought it up again! Please also read the [Known Issues](https://github.com/quangnguyen30192/cmp-nvim-ultisnips#known-issues) section in the readme since you need to set an UltiSnips variable.

Related: #5.

[2021-12-19 15:18] ranebrown commented on #13
What was the solution? I'm seeing the same problem when using lsp_signature floating window.

[2021-12-19 16:00] quangnguyen30192 commented on #13
Could you check the following?

[2021-12-19 16:09] vsedov commented on #13
Hmm truth be told i have forgotten what i did, If I'm not mistaken it was how lsp sig was being called, if you are directly using a cfg or not, and if its within the attach function in your lsp config .

Another thing id checks if its being called through opt or  not.

[2021-12-19 18:34] ranebrown commented on #13
Here is a minimal config. I was testing using clangd (`:LspInstall clangd`) after the initial `nvim -u minimal_config.lua`. Expanding the lsp provided snippet for the sum function makes it so you can't jump between the tab stops. Setting lsp_signtature floating window to false makes it work as expected.

<details>
  <summary>Minimal init</summary>

[code]
</details>

<details>
  <summary>Test file

[2021-12-19 21:47] smjonas commented on #13
@ranebrown I can't reproduce your issue using your config (I am able to jump to the next / previous tabstop normally). What are the necessary steps to reproduce your issue and what is the expected behaviour?

[2021-12-19 21:59] ranebrown commented on #13
1. Save above files as `minimal_init.lua` and `test.cpp`
2. `nvim -u minimal_init.lua` after packer install run `:LspInstall clangd`
3. quit
4. `nvim -u minimal_init.lua test.cpp`
5. Go to main function and start typing `sum` select LSP snippet for `sum()` from cmp menu and expand with `C-y`
6. Type `1` for first argument. Hit tab to go to next argument and it inserts a literal tab.

Expected beha

[2021-12-19 22:03] smjonas commented on #13
Thanks for your reproduction steps, could reproduce it now.

[2021-12-19 22:26] smjonas commented on #13
I don't think this is related to `cmp-nvim-ultisnips` since it also happens with this config (I removed the mappings and plugin). Closing for now.
<details>
  <summary>Minimal config</summary>

[code]
</details>

[2021-12-19 22:26] #13 closed

[2021-12-20 12:38] ranebrown commented on #13
Fair enough. Thanks for taking a look.

[2022-01-28 02:28] Xunius opened #65 "No snippets in completion list?"
Hi all,

I'm migrating from my old vim+Ultisnips+supertab to the newer neovim+Ultisnips+nvim-cmp config. I've spent hours and still can't get snippets to work. Please help!

# Expected behavior:

Open a `.py` file, type some keyword, e.g. `class`, then a completion list would appear listing a `class` snippet entry.

# Actual behavior:
The completion list shows only these:

[code]

(Why the same th

[2022-01-29 12:26] smjonas commented on #65
Hey,
I assume you have an UltiSnips snippet for `class`? Does that snippet work when you type `class` and hit `<Tab>` manually?

If you see the same entry multiple times, it means that `cmp.config.sources` has been called more than once or the same source was added twice. This can happen if you source the same Lua file repeatedly.

Can you check if LSP snippets work by typing `function` in a .lua

[2022-01-29 13:00] Xunius commented on #65
@smjonas Many thanks for taking the effort to reply.

I actually wanted to close this issue earlier today but I guess my internet was too bad it didn't commit.
I'm very new to neovim and configuring using lua so I've been creating a bit mess. It turns out that I had duplicate language servers running in the background, and I think that's the reason for those duplicated entries, and it also caused

[2022-01-29 13:00] #65 closed

[2022-01-29 13:03] smjonas commented on #65
No worries at all, thanks for your update on the issue!

[2022-02-18 19:34] tonysyu opened #67 "Update support for new lua parser in treesitter"
It appears that `cmp-nvim-ultisnips` is running into the same issue described in https://github.com/nvim-treesitter/nvim-treesitter/issues/2295. As described in that issue, updates to the `nvim-treesitter` lua parser (https://github.com/nvim-treesitter/nvim-treesitter/pull/2272) requires updates to third-party modules. Here's the error output I see when editing a lua file:
[code]

Uninstalling `cm

[2022-02-18 19:56] smjonas commented on #67
As some guys mentioned on that issue, can you check if you still have old parser files at `~/.local/share/nvim/site/pack/parser`? If so, please delete them. Then try to run `:TSUpdate`. Does that help?

[2022-02-18 20:25] tonysyu commented on #67
My bad, you're right that it has nothing to do with `cmp-nvim-ultisnips` support for the new Lua parser in Treesitter.

I didn't have a directory called `~/.local/share/nvim/site/pack/parser` and `:TSUpdate` didn't seem to help either, but after removing the entire `~/.local/share/nvim/` directory and restarting, everything seems to be working.

Sorry for the noise!

[2022-02-18 20:25] #67 closed

[2022-02-18 20:37] smjonas commented on #67
No worries, glad that everything works now! :)

[2022-02-19 18:32] j2kun opened #68 "Strange error when trying to load ultisnips"
I have a new install of nvim + all my plugins (from a previous working setup), and any time I type in insert mode I see the following error. Not sure how to further debug it. Any ideas?

![Screenshot 2022-02-19 183146](https://user-images.githubusercontent.com/2467754/154814152-6793b776-297d-4166-b331-f02a17fe2088.png)

[2022-02-19 18:36] j2kun commented on #68
My nvim init.vim

[code]

[2022-02-19 18:42] j2kun commented on #68
I've also noticed that the UltiSnips path `let g:UltiSnipsSnippetDirectories = ['~/.vim/UltiSnips', 'UltiSnips', '~/.vim/bundle/vim-snippets/UltiSnips']` is not valid on this new system, so I tried changing it to

[code]

But that doesn't seem to fix the problem.

[2022-02-19 19:39] riddlew commented on #68
This seems to be the same issue as seen in #67. I ran into the same issue today, and was able to fix it by adding
[code]

[2022-02-20 16:20] smjonas commented on #68
I am not exactly sure what is causing this, but I tried to fix it in #69. Since I can't reproduce this on my side I'm not sure if this will solve your issue. Could you please check out that branch and see if it works for you? (Simply change the entry in your vim-plug config to `Plug 'smjonas/cmp-nvim-ultisnips', { 'branch': 'fix_undefined' }`.)

@riddlew I think this is a different issue

[2022-02-20 17:55] edgarlepe commented on #68
I was getting the same error and changing my vim-plug configuration to `Plug 'smjonas/cmp-nvim-ultisnips', { 'branch': 'fix_undefined' }` as @smjonas suggested fixed the issue.

[2022-02-21 09:42] #68 closed

[2022-03-13 04:35] medwatt opened #70 "Expand Snippet shows on the command line"
I came across [this](https://github.com/quangnguyen30192/cmp-nvim-ultisnips/issues/40) which is basically the same question as this one. Unfortunately, it seems that the issue still exists. Have a look at the video recording below.

[code]

https://user-images.githubusercontent.com/17733465/158045172-f8380d7f-3a6d-4eee-b0e3-38364cf78343.mp4

[2022-03-13 11:01] smjonas commented on #70
Thanks for the report, could you share the definition for the `frac` snippet? If you are already at the last tabstop when pressing `Tab`, I don't think that this can be fixed since it then calls `fallback()` which is handled by nvim-cmp.

[2022-03-13 12:53] medwatt commented on #70
[code]

[2022-03-16 00:36] otavioschwanck opened #71 "When cmp is active, jump forward doesnt go forward."
My config:

[code]

I dont want tab to move forward / backwards on autocomplete list (i use C-n and C-p for this).  Tab is just for snippets.

[2022-03-16 09:51] smjonas commented on #71
Which key do you press to expand the snippet? Right now, jumping to the next placeholder only works if the snippet was already expanded (the item was selected from cmp's menu). The default in cmp is `<cr>` by the way.

[2022-03-18 21:03] jasonkena commented on #70
@medwatt how did you manage to get the snippet to auto-expand with `context "math()"`? Adding the context is preventing me from expanding the snippet.

[2022-03-19 11:43] smjonas commented on #70
@jasonkena Until now, custom context snippets were not handled correctly. Now that I had time to add proper support for them, could you quickly test this feature? That would be awesome, I want to be sure I didn't break things! :) They should now only be shown when the custom context function returns `True`. Here is the PR: #72 (you can use my fork https://github.com/smjonas/cmp-nvim-ultisnips on t

[2022-03-20 06:56] jasonkena commented on #70
@smjonas unfortunately, it does not seem to work. On the main branch, I can at least see the snippet in the menu (still being unable to expand it), but using your fork, I can't. Any ideas?

[2022-03-20 09:30] smjonas commented on #70
Yeah sorry, this was a bit of a rushed attempt to implement this... I did test this with 2 custom snippets only and it seemed to work. I'll work on the feature when I have time. Thanks for testing though!

[2022-04-02 05:17] Guzzii commented on #71
I am having a similar issue, potentially the same. I am using return to expand snippets, and also set tab and s-tab to jump forward and backward like mentioned above. After expended a snippet, the cursor jumps to the first placeholder in select mode waiting for user input.
- If I replace the placeholder text by typing a few characters, I am then in insert mode. Tab will jump to the next placeholde

[2022-04-03 10:38] smjonas commented on #71
@Guzzii could you share your `nvim-cmp` config? It might be a configuration issue because I can't reproduce it (`<Tab>` moves me to the next placeholder even in select mode).

[2022-04-04 04:55] Guzzii commented on #71
Sure, below is my config

[code]

[2022-04-10 17:07] smjonas commented on #71
Sorry, I still can't reproduce it with your config. For some reason, setting `<cr>` as the key to confirm the selected item does not even work for me (it does not expand the snippet). Can you check that `smap <Plug>` contains the three mappings `cmpu-expand`, `cmpu-jump-forwards` and `cmpu-jump-backwards`?

[2022-04-22 08:08] medwatt opened #74 "Using tab to jump forward leaves a space before jumping forward"
The relevant part of my config is given below along with a screen recording. I currently have `Tab` mapped to just jump forward. When I'm inside a snippet and the completion menu pops up, pressing `Tab` does not automatically jump to the next place holder. Instead, it inserts a space. It's only after that that I can jump forward.

[code]

![nvim](https://user-images.githubusercontent.com/17733465/

[2022-04-22 08:10] quangnguyen30192 commented on #74
Can you give us your minimal current config?

[2022-04-22 09:28] quangnguyen30192 commented on #74
I could reproduce the issue, working on it

[2022-04-22 10:26] #74 closed

[2022-04-22 10:27] smjonas commented on #74
Thanks for reporting, it should be fixed now :)

[2022-04-22 10:33] quangnguyen30192 commented on #74
Hey @smjonas  I think he wanted to confirm the selected entry and then press <tab> to jump to the next stop

[2022-04-22 10:38] smjonas commented on #74
In this case, wouldn't that always select the first entry only? I think it makes more sense if the confirm action is mapped to a different key. In this example I use `<C-f>` and it seems to show the correct behaviour:

![cmp_nvim_ultisnips_74](https://user-images.githubusercontent.com/40792180/164699113-b8dda9f9-7bb2-431e-9126-a306898198cc.gif)

@medwatt Any comments?

[2022-04-22 10:48] quangnguyen30192 commented on #74
If mapping the `confirm` behavior to a different key then it's fine. But it would be more flexible if we introduce `confirm` mapping in the compose then the user could combine it with whatever he wants. E.g

[code]

Then in user mapping
[code]

[2022-04-22 11:06] smjonas commented on #74
@quangnguyen30192 That seems like a good idea. Maybe we can let users override the actions table like
[code]
But as I understand it, the original issue was still solved by the PR, right? Any comments, @medwatt?

[2022-04-22 17:04] TortoiseHive opened #76 "Snippetes with multiple options doesn't works"
Example:
[code]

Inserts:
[code]

[2022-04-22 18:31] smjonas commented on #76
This is the expected behavior by UltiSnips. You need to press `1` / `2` etc. once the snippet was expanded to select the option you want.

[2022-04-22 18:31] #76 closed

[2022-05-02 22:40] medwatt opened #77 "Possible bug when triggering snippet before the completion menu has opened for the first time"
I noticed a weird behavior recently when I switched changed the keyword length from 1 to 4. First let me give the steps to reproduce:

- Set ultisnips keyword length from 1 to some high number that doesn't cause the completion menu to open.
- Open a file that has snippets defined.
- Trigger a snippet as defined by `vim.g.ultisnipsexpandtrigger`.
- Try to jump to the next tabstop with `tab`. The ta

[2022-06-01 15:30] anstadnik opened #78 "Wrong context matching"
<details>
  <summary>Minimum init.lua</summary>

[code]

</details>

<details>
  <summary>Example file</summary>

[code]

</details>

When I put the cursor between `\(\)`, and write `mrm`, there is no completion suggestion.
If I write ` mrm` (with space before), there is.

Hovewer, if in the snippet file I set the options to `iA` instead of `i` (to expand automatically), the snippet is expanded, w

[2022-06-02 08:10] quangnguyen30192 commented on #78
Thanks for reporting.

[2022-06-06 12:52] anstadnik commented on #78
Aha, I just understood that it might be wrong handling of the `i` parameter (in-word expansion), and not the context thing.

[2022-06-15 18:34] smjonas commented on #78
We would need to change the keyword pattern for this. As I understood it, this is a Vim regex that the line needs to match in order to trigger completion of a completion item.

https://github.com/quangnguyen30192/cmp-nvim-ultisnips/blob/21f02b62deb409ce69928a23406076bd0043ddbc/lua/cmp_nvim_ultisnips/source.lua#L17-L19

However changing it to something like `"\\.\\*"` which should match any charact

[2022-07-02 15:36] fecet commented on #78
Any workaround or solution?

[2022-07-04 09:53] smjonas commented on #78
I thought about this a but more and came to the conclusion that the `keyword_pattern` is not the issue. The problem is that `cmp` will not invoke completion when typing directly after an existing word.

Let's say that you have a snippet with `mrm` as the trigger. Also assume that this is the buffer content and `|` is the cursor position:
[code]
**Currently, nvim-cmp will only show words that conta

[2022-07-04 10:02] #71 closed

[2022-07-04 13:13] Guzzii commented on #71
Just to confirm, with the latest update, it is working as expected and no longer an issue.

[2022-07-04 13:42] smjonas commented on #71
Perfect, thanks for letting me know!

[2022-08-03 13:54] otavioschwanck opened #79 "If i set jump_forwards before expand, it has a lag before i can expand"
Using:
[code]

if i rapidly type the snippet shortcut and press the hotkey, it dont do nothing.  If i wait a second and press again, it go.

Only happens with user defined snippets.

[2022-08-04 10:24] quangnguyen30192 commented on #79
Hey @otavioschwanck  maybe just send me the gif/video of the issue?

[2022-08-04 10:41] otavioschwanck commented on #79
![Kapture 2022-08-04 at 11 40 11](https://user-images.githubusercontent.com/9551316/182827966-6102afdd-1145-4fa2-909a-bf44b47b311b.gif)
@quangnguyen30192

[2022-08-04 17:07] quangnguyen30192 commented on #79
Thanks, but I couldn't reproduce it even I used your config. Could you please provide me a bit more context?
 - What is the filetype & language server?
 - What's your user-defined snippet?
 - What is the output of `call UltiSnips#ListSnippets()`?

[2022-08-04 17:17] quangnguyen30192 commented on #79
I belive if you change your snippet shortcut to another one that different from _def_ then it will work

[2022-08-07 01:10] eyalk11 opened #80 "I have this error"
It happens in tex files when I type things. Especially things that trigger ltex.
I update nvim-cmp to latest version.

[code]

[2022-08-07 01:14] eyalk11 commented on #80
Is it related to https://github.com/quangnguyen30192/cmp-nvim-ultisnips/issues/78 ?

[2022-08-07 08:55] smjonas commented on #80
I don't think this is related to 78, no. Can you share your reproduction steps (i.e. what do you type when this happens and which snippets are you using?). Thanks.

[2022-08-08 01:33] otavioschwanck commented on #79
lang_server: solargraph
my user defined snippets are in UltiSnips/ruby.snippets (my config)
output:

[code]

[2022-08-12 08:58] fastndead commented on #80
have the similar issue after updating plugins, had to remove `cmp-nvim-ultisnips` from the plugin list

im running neovim version v0.7.2
[link](https://s3.us-west-2.amazonaws.com/secure.notion-static.com/628a17a6-1a1e-4c68-928e-316d1d5351dc/init.vim?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220812%2Fus-west-2%2Fs3%2Faws4_reques

[2022-08-12 09:00] smjonas commented on #80
Please share your reproduction steps: when does this occur, which snippet are you expanding when this happens? Otherwise, we can't do anything to resolve this.

[2022-08-15 07:26] fastndead commented on #80
sure, actually no steps are needed to reproduce, in my case the error happens any time I try typing anything in the insert mode are altering the text in any way.
so in that sense steps would look like:
1. set up vim with config i provided earlier
2. try writing anything

the error should occur immediately, at least in my case it did

[2022-08-16 16:51] erlonbie opened #81 "Not showing all honza/vim-snippets (but it still exists somehow)"
Hi, I've checked a lot of issues before creating this one, although it is related to some.

I'm using `honza/vim-snippets` with `UltiSnips`

![image](https://user-images.githubusercontent.com/50176483/184933543-0a91bef9-4375-4ce7-8315-ad3a10b1be0d.png)

this is what I'm sourcing in `cmp.setup`

![image](https://user-images.githubusercontent.com/50176483/184934509-0feb1882-8d56-49ba-92d0-732c3d42f6

[2022-08-16 17:11] smjonas commented on #81
The source name in your first screenshot is `ultisnisp`, is that typo only in that screenshot or also in your configuration? :smile:

[2022-08-16 17:36] erlonbie commented on #81
Yes it is 😆, but it dit not resolve the issue 🥲

[2022-08-16 17:50] erlonbie commented on #81
do I need to require/import `honza/vim-snippets` somewhere in my cmp configuration other than the plugins file?

[2022-08-16 17:53] smjonas commented on #81
No, you only need to add it to your list of plugins.

[2022-08-16 17:57] smjonas commented on #81
Can you share the output of `:call UltiSnips#ListSnippets()`?

[2022-08-16 18:09] erlonbie commented on #81
1: (#if) "#if #endif" (/home/erlonbie/.local/share/nvim/site/pack/packer/start/vim-snippets/UltiSnips/c.snippets:43)
2: (#ifndef) "#ifndef ... #define ... #endif" (/home/erlonbie/.local/share/nvim/site/pack/packer/start/vim-snippets/UltiSnips/c.snippets:37)
3: (.) (/home/erlonbie/.local/share/nvim/site/pack/packer/start/vim-snippets/snippets/c.snippets:372)
4: (AGPL) (/home/erlonbie/.local/share/n

[2022-08-17 02:35] erlonbie commented on #81
It was a typo at all... 🫠

`ultisnisp` to `ultisnip` (but I forgot the s at the end), so the final one is `ultisnips`

[2022-08-17 02:42] erlonbie commented on #81
My new issue is that I can't get the preview of the snippet, i can only see it's discription. I saw some PRs from the end of last year providing this functionality, but I don't know if that should be the default behavior.

If this change of subject is not aproprieated, I can create a new issue asking for this

thanks in advance!

![image](https://user-images.githubusercontent.com/50176483/18502245

[2022-08-17 07:53] smjonas commented on #81
No worries, I'm happy to help :) Glad that it's working now for you!

That sounds like the `ghost_text` feature in nvim-cmp. You can enable it like this:
[code]

[2022-08-17 08:02] smjonas commented on #80
@quangnguyen30192 Due to the way I changed my plugins and lazy-loading, I can't get `cmp-nvim-ultisnips` to work at the moment (I am using `luasnip` instead) and I don't want to invest too much time in getting it to work. Did you manage to reproduce this issue?

For anyone else that wants to help debug this issue (@fastndead, @eyalk11), here's what you can do:
- navigate to the location where the

[2022-08-17 08:10] quangnguyen30192 commented on #80
Sure, I will take it

[2022-08-17 10:15] smjonas commented on #81
Oh, nvm I should have looked at your screenshot... You can do this by customizing the `documentation` key in the setup (see readme for details). Can you add the following to your config?
[code]

[2022-08-17 10:42] quangnguyen30192 commented on #80
Hey @fastndead  I couldn't reproduce the issue. Could you share your config again? the link you sent is dead

[2022-08-17 12:48] erlonbie commented on #81
Now it all makes sense, thank you so much @smjonas !

[2022-08-17 12:49] #81 closed

[2022-08-18 10:59] fastndead commented on #80
Hey @quangnguyen30192, i switched completely to vsnip for the time being, so I won't help with debugging, sorry.
but here's my init.vim configuration, sorry for the broken link, didn't know Notion links do that

[code]

[2022-08-18 16:21] quangnguyen30192 commented on #79
I've tried to clone the whole of your vim config - and change to `cmp_ultisnips_mappings.compose { "jump_forwards", "expand" }(fallback)` for the mapping, but unfortunately, I still couldn't reproduce the issue.

The mapping composition could raise an issue in some cases, depends on its order.

if  the mapping `cmp_ultisnips_mappings.compose { "expand", "jump_forwards"} (fallback)` works for you.

[2022-08-18 16:22] quangnguyen30192 commented on #79
Btw, your vim configuration is pretty cool 👍

[2022-08-18 16:57] otavioschwanck commented on #79
The only problem with some rare cases is that i expand a new snippet instead of jump forwarding.  But i can live with that.

Thanks!

[2022-08-18 16:57] #79 closed

[2022-09-17 00:29] wookayin opened #82 "Failed to load parser: uv_dlsym: dlsym(0x208d77c60, tree_sitter_Dockerfile): symbol not found"
Environment: macOS 12.x (arm64), neovim 0.8.0-nightly (+0.7.2)

[code]

This happens when

- Open any `Dockerfile`
- Start typing in the insert mode (e.g., TextChangedI)

I have treesitter-dockerfile installed (`:TSInstall dockerfile`).

[2022-09-17 00:32] wookayin commented on #82
Sorry, it's not a bug of cmp-nvim-ultisnips:

[code]

it also fails. I will report this in a relevant place.

[2022-09-17 00:32] #82 closed

[2022-09-17 00:32] wookayin commented on #82
(invalid)

[2022-10-02 00:22] DinkyTrady commented on #7
@quannguyen30192 the comment in reddit was removed.

[2022-10-03 20:10] quangnguyen30192 commented on #7
@DinkyTrady here you are

[code]

[2022-10-03 20:12] quangnguyen30192 commented on #7
Hey @DinkyTrady do you want to install with vimplug?

[2022-10-04 01:08] DinkyTrady commented on #7
@quangnguyen30192 yes, but now i can setup and configure it.

[2022-11-23 13:09] ChasingZenith opened #83 "Many auto-snippets can not be trigger"
[code]

I find this snippet and many other auto-triggered snippet just occasionally work.

On my machine, if I press `redttredtt`, only the first one will  trigger the snippet.

Can you guys test on this case?

[2022-11-23 13:27] quangnguyen30192 commented on #83
Hey, thank you for reporting this.

You miss `i` option that triggers t[he in-word expansion ](https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt#L676)

[code]

[2022-11-23 13:29] #83 closed